@layer base {
  :root {
    --background: 38 33% 97%;
    --foreground: 262 35% 16%;
    --card: 38 33% 97%;
    --card-foreground: 262 35% 16%;
    --popover: 38 33% 97%;
    --popover-foreground: 262 35% 16%;
    --primary: 262 35% 16%;
    --primary-foreground: 38 33% 97%;
    --secondary: 273 35% 95%;
    --secondary-foreground: 262 35% 16%;
    --muted: 35 25% 92%;
    --muted-foreground: 268 18% 48%;
    --accent: 273 35% 62%;
    --accent-foreground: 262 35% 16%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 38 33% 97%;
    --border: 262 35% 16%;
    --border-subtle: 262 20% 88%;
    --input: 262 35% 16%;
    --ring: 273 35% 62%;
    --radius: 0.5rem;
    --chart-1: 262 35% 16%;
    --chart-2: 273 35% 62%;
    --chart-3: 268 18% 55%;
    --chart-4: 271 50% 40%;
    --chart-5: 262 20% 30%;
    --color-scheme: light;
  }

  .dark {
    --background: 225 10% 8%;
    --foreground: 0 0% 95%;
    --card: 225 9% 12%;
    --card-foreground: 0 0% 95%;
    --popover: 225 9% 12%;
    --popover-foreground: 0 0% 95%;
    --primary: 273 35% 62%;
    --primary-foreground: 0 0% 100%;
    --secondary: 225 8% 18%;
    --secondary-foreground: 0 0% 90%;
    --muted: 225 8% 16%;
    --muted-foreground: 225 5% 60%;
    --accent: 273 40% 52%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62% 55%;
    --destructive-foreground: 0 0% 100%;
    --border: 225 8% 24%;
    --border-subtle: 225 8% 18%;
    --input: 225 8% 24%;
    --ring: 273 35% 62%;
    --radius: 0.5rem;
    --chart-1: 273 35% 62%;
    --chart-2: 262 30% 40%;
    --chart-3: 268 18% 55%;
    --chart-4: 271 50% 40%;
    --chart-5: 262 20% 30%;
    --color-scheme: dark;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
